:root {
    --main-bg-color: #2B2B2B;
    --neutral-1: #E3E4E6;
    --neutral-2: rgba(227, 228, 230, 0.55);
    --font-family: 'Fira Sans', sans-serif;
    --weight-title: 600;
    --weight-active: 700;

}
*{
    background: var(--main-bg-color);
    line-height: 150%;
    font-family: var(--font-family);
}
h1{
    font-weight: var(--weight-title);
}
header {
    width: 100%;
    position: fixed;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo__text {
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: var(--weight-active);
    flex-basis: 40vw;
}

.active {
    position: relative;
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: var(--weight-active);
}

.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--neutral-1);
}


.nav__list {
    display: flex;
    align-items: center;
    flex-basis: 40vw;
    justify-content: space-around;
    margin-right: 3rem;
}

.nav__item {
    padding: .5rem 0;
    list-style: none;
}

.nav__link {
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;
    font-size: 1rem;
    color: var(--neutral-1);

}

.nav__link:hover{
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: var(--weight-active);
}
.container-fluid button {
    border: none;
}
.navbar-bar {
    padding: 1;
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}
.navbar-brand{
    text-align: center;
    flex-basis: 20vw;
}
@media screen and (max-width: 991px) {
    .logo__text{
        margin-left: .8rem;
    }
    .navbar-brand{
        flex-basis: 12vw;
    }
    .nav__list{
        margin-right: 0;
    }
    .navbar-toggler{
        margin-right: .8rem;
    }
}

