.about {
    display: flex;
    justify-content: space-between;
}

.about-me-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    flex-basis: 30%;
}

.description {
    color: var(--neutral-1);
}

.description-h2 {
    color: var(--neutral-2);
}
.description-h5 {
    color: var(--neutral-1);
}
.curriculum{
    margin: 0 auto;
    padding: 1.5rem;
    color: var(--neutral-1);
    background: #BC3CD8 ;
    text-decoration: none;
    border-radius: 10%;
    font-size: 1rem;
    transition: transform .2s; 
}
.curriculum:hover{
    transform: scale(1.05);
    color: var(--neutral-1);
}
.photo{
    border-radius: 100%;
    object-fit: contain;
}
.about-me-description h5{
    text-align: justify;
}
@media screen and (max-width: 991px) {
    .description{
        margin-top: 1.5rem;
    }
    .about{
        flex-direction: column;
        align-items: center;
    }
    .curriculum{
        margin-bottom: 1.5rem;
    }
    
  }
  @media screen and (max-width: 480px) {
    
    .curriculum{
        padding: 1.5rem;
        margin-bottom: 2rem;
    }
    .description-h5{
        width: 90%;
        margin: 0 auto;
        margin-bottom: .5rem;
    }
    .photo{
        width: 80vw;
        height: 80vw;
    }
  }

